
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ItemListContainer */

.ItemList-component{

  &__container{

      background-color: aliceblue !important;
      min-height: 100px !important;
      display: flex;
      align-items: center;
      
  }

  &__title{
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    color:rgb(110, 119, 119) !important;
  }

}

.btn-cart {
  
  text-decoration: none !important;
  color: #444444 !important;
  margin-right: 20px;
  margin-left: 20px;
  &:hover {
    color: #969696 !important;
  }

}

.cards-container {

  padding: 50px;

  & div{
    display: inline-block;
  }


}