body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo{
  color: red;
}

.notification-alert {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.orderPlaced{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color:rgb(104, 104, 104);
}